@import url('https://free.bboxtype.com/embedfonts/?family=FiraGO:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Fira+Mono:wght@400;500;700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900?family=Ubuntu+Condensed&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700?family=Yrsa:300,400,500,600,700');





@keyframes rainbows {
  0%   {--rainbow:var(--red);
        --rainbowHilight:var(--redHilight);
        --rainbowFaint:var(--redFaint);}

  8.333% {--rainbow:var(--orange);
        --rainbowHilight:var(--orangeHilight);
        --rainbowFaint:var(--orangeFaint);}

  16.667% {--rainbow:var(--yellow);
        --rainbowHilight:var(--yellowHilight);
        --rainbowFaint:var(--yellowFaint);}

  25%  {--rainbow:var(--lime);
        --rainbowHilight:var(--limeHilight);
        --rainbowFaint:var(--limeFaint);}

  33.333% {--rainbow:var(--green);
        --rainbowHilight:var(--greenHilight);
        --rainbowFaint:var(--greenFaint);}

  41.667% {--rainbow:var(--aquagreen);
        --rainbowHilight:var(--aquagreenHilight);
        --rainbowFaint:var(--aquagreenFaint);}

  50%  {--rainbow:var(--cyan);
        --rainbowHilight:var(--cyanHilight);
        --rainbowFaint:var(--cyanFaint);}

  58.333% {--rainbow:var(--skyblue);
        --rainbowHilight:var(--skyblueHilight);
        --rainbowFaint:var(--skyblueFaint);}

  66.667% {--rainbow:var(--blue);
        --rainbowHilight:var(--blueHilight);
        --rainbowFaint:var(--blueFaint);}

  75%  {--rainbow:var(--purple);
        --rainbowHilight:var(--purpleHilight);
        --rainbowFaint:var(--purpleFaint);}

  83.333% {--rainbow:var(--pink);
        --rainbowHilight:var(--pinkHilight);
        --rainbowFaint:var(--pinkFaint);}

  91.667% {--rainbow:var(--hotpink);
        --rainbowHilight:var(--hotpinkHilight);
        --rainbowFaint:var(--hotpinkFaint);}

  100% {--rainbow:var(--red);
        --rainbowHilight:var(--redHilight);
        --rainbowFaint:var(--redFaint);}

}



/*@keyframes rainbows {
  0%   {--rainbow:var(--red);
        --rainbowHilight:var(--redHilight);
        --rainbowFaint:var(--redFaint);}

  8.333% {--rainbow:var(--yellow);
        --rainbowHilight:var(--yellowHilight);
        --rainbowFaint:var(--yellowFaint);}

  16.667% {--rainbow:var(--red);
        --rainbowHilight:var(--redHilight);
        --rainbowFaint:var(--redFaint);}

  25%  {--rainbow:var(--yellow);
        --rainbowHilight:var(--yellowHilight);
        --rainbowFaint:var(--yellowFaint);}

  33.333% {--rainbow:var(--red);
        --rainbowHilight:var(--redHilight);
        --rainbowFaint:var(--redFaint);}

  41.667% {--rainbow:var(--yellow);
        --rainbowHilight:var(--yellowHilight);
        --rainbowFaint:var(--yellowFaint);}

  50%  {--rainbow:var(--red);
        --rainbowHilight:var(--redHilight);
        --rainbowFaint:var(--redFaint);}

  58.333% {--rainbow:var(--yellow);
        --rainbowHilight:var(--yellowHilight);
        --rainbowFaint:var(--yellowFaint);}

  66.667% {--rainbow:var(--red);
        --rainbowHilight:var(--redHilight);
        --rainbowFaint:var(--redFaint);}

  75%  {--rainbow:var(--yellow);
        --rainbowHilight:var(--yellowHilight);
        --rainbowFaint:var(--yellowFaint);}

  83.333% {--rainbow:var(--red);
        --rainbowHilight:var(--redHilight);
        --rainbowFaint:var(--redFaint);}

  91.667% {--rainbow:var(--yellow);
        --rainbowHilight:var(--yellowHilight);
        --rainbowFaint:var(--yellowFaint);}

  100% {--rainbow:var(--red);
        --rainbowHilight:var(--redHilight);
        --rainbowFaint:var(--redFaint);}

}*/

:root {
  --rainbow: var(--hotpink);
  --rainbowHilight: var(--hotpinkHilight);
  --rainbowFaint: var(--hotpinkFaint);

  animation: rainbows 30s linear infinite;
}
